<div class="form" [formGroup]="form">
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="name" placeholder="Title">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="descriere" placeholder="Author">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="cantitate" placeholder="Description">
      </mat-form-field>

      <button class="btn">Save</button>
      <br>
</div>
